.navbar {
    background-color: #325064;
    margin: 0;
}

.container {
    display: flex;
    padding: 15px;
}

.logo {
    padding-top: 9%;
    padding-left: 12%;
}

.main-nav {
    display: flex;
    margin-left: auto;
    padding-right: 1.8%;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    display: block;
    text-decoration: none;
    padding: 14px;
    margin: 5px;
    border-radius: 50px;
    /* border: 2px solid #0C1C2C; */
    /* background: #EDF0F1;
    color: #0C1C2C;
    border: 2px solid #D79033; */
    background:#0C1C2C;
    color: #EDF0F1;
    border: 2px solid #EDF0F1;
}

.main-nav a:hover {
    /* background:#0C1C2C;
    color: #EDF0F1;
    border: 2px solid #EDF0F1; */
    background: #EDF0F1;
    color: #0C1C2C;
    border: 2px solid #D79033;
}

/* active not working */
/* .main-nav a:active {
    background: #EDF0F1;
    color: #0C1C2C;;
} */

#bucket-list-link {
    font-weight: bold;
    background: #D79033;
    color: #EDF0F1;
    border: 2px solid #EDF0F1;
}

#bucket-list-link:hover {
    font-weight: bold;
    background: #EDF0F1;
    color: #D79033;
    border: 2px solid #D79033;
}