.navbar {
    background-color: #325064;
    margin: 0;
}

.container {
    display: flex;
    padding: 15px;
}

.logo {
    padding-top: 10px;
    padding-left: 10px;
}

.main-nav {
    display: flex;
    margin-left: auto;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    display: block;
    background: #EDF0F1;
    color: #0C1C2C;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    border: 2px solid #0C1C2C;
}

.main-nav a:hover {
    background:#0C1C2C;
    color: #EDF0F1;
}

/* active not working */
/* .main-nav a:active {
    background: #EDF0F1;
    color: #0C1C2C;;
} */

#bucket-list-link {
    font-weight: bold;
    background: #D79033;
    
}