html {
    height: 100%;
}

body {
    /* font-family: "Rubik", "Helvetica Neue", "sans-serif"; */
    /* issues with loading */
    font-family: "Helvetica Neue", "sans-serif";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    background-color: #EDF0F1;
    color: #0C1C2C;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container main {
    padding-right: 20px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.image-center-aside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.grid-container aside {
    text-align: center;
}

h1, p {
    color: #0C1C2C;
}

#content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}