html {
    height: 100%;
}

body {
    /* font-family: "Rubik", "Helvetica Neue", "sans-serif"; */
    /* issues with loading - to ask */
    font-family: "Helvetica Neue", "sans-serif";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    background-color: #EDF0F1;
    color: #0C1C2C;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 75% 25%;
    /* grid-template-rows: 100px 300px; */
    grid-gap: 10px;
    background-color: hotpink;
    padding: 10px;
}

.grid-container main {
    background-color: yellow;
    padding-right: 20px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.grid-container aside {
    background-color: yellowgreen;
}

/* For MVP version */
h1, p {
    color: #0C1C2C;
}

#content {
    margin: 2%;
}