.new-form-container {
    padding: 20px;
}

.create-new-form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0C1C2C;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-new-form button[type=submit] {
    width: 100%;
    background-color: #57A6C7;
    color: #0C1C2C;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-new-form button[type=submit]:hover {
    background-color: #0C1C2C;
    color: #EDF0F1;
}