#zone-pic {
    text-align: center;
}

.grid-container-reverse {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 10px;
    /* padding: 10px; */
}

#area-map {
    width: 92%;
    border-radius: 50px;
}

#zone-pic img {
    border-radius: 50px;
}

#zones-table a {
    text-decoration: none;
    font-weight: bold;
    color: #0C1C2C;
}