{% extends 'base.html' %}

{% block content %}

<h1>Did you know?</h1>

<p>
    Glasgow — Scotland’s largest city is located on the River Clyde in the Scottish Western Lowlands.
</p>
<p>
    Glasgow is world renowned for its art, architecture and culture, with more than 20 museums, most of which offer free admission to the general public.
</p>
<p>
    It hosts three world class universities within a three mile radius and over 90 green spaces throughout the city which explains the Gaelic meaning behind the city’s name: ‘dear green place’.
</p>
<p>
    Glasgow has more than meets the eye though. Here are some fun facts that you may not know:
</p>
<ol>
    <li>Fossil Grove in Glasgow’s Victoria Park has trees that are twice as old as dinosaurs. Eleven extinct fossilised trees date back 330 million years to a time when Glasgow’s climate was warm and humid.</li><br>
    <li>Glasgow was rated the top place for concerts in the UK outside of London, with eight venues in the Top 100 list of places to watch gigs.</li><br>
    <li>The City Chambers has been home to the Glasgow City Council since 1996 and was built using more marble than the Vatican.</li><br>
    <li>Glasgow’s underground railway system, often referred to as the ‘Clockwork Orange’ because of its colour, is the 3rd oldest underground railway system in the world.</li><br>
    <li>The first international association football game was played in Glasgow in 1872 at the West of Scotland Cricket ground and was between Scotland and England. The match ended in a 0-0 draw.</li><br>
</ol>

{% endblock %}