<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glasgow Bucket List</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/fontawesome/all.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/locations.css') }}">

</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar">
                <div class="container">
                    <a href=""></a>
                    <!-- logo -->
                    <ul class="main-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Glasgow</a></li>
                        <li><a href="/zones">Area Guide</a></li>
                        <div>
                            <li class="main-nav-right"><a href="/places">Bucket List</a></li>
                        </div>
                    </ul>
                </div>
            </nav>
        </header>
        <section id="content">
            {% block content %}
      
            {% endblock%}
        </section>
    </div>

    <footer class="footer">
        © 2021 Laureline's Stuff - All Rights Reserved
    </footer>
</body>
</html>