{% extends "base.html" %}
{% block content %}

<form action="/places/{{location.id}}" method="POST">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{location.name}}" required autofocus>
  </div>

  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{location.description}}">
  </div>

  <div>
    <label for="zone">Zone:</label>
    <select id="zone" name="zone_id">
      {% for zone in all_zones %}
        <option value="{{zone.id}}"
          {% if location.zone.id == zone.id %} selected="selected"{% endif %}>
          {{zone.name}}
        </option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="picture">Picture URL:</label>
    <input type="text" id="picture" name="picture" value="{{location.picture}}">
  </div>
  
  <div>
    <label for="visited">Visited?</label>
    <select id="visited" name="visited">

      <option value="false"
        {% if location.visited == False %} selected="selected" {% endif %}>
        No
      </option>

      <option value="true"
        {% if location.visited == True %} selected="selected" {% endif %}>
        Yes
      </option>

    </select>
  </div>

  <button type="submit">Update</button>

</form>

{% endblock %}
