{% extends 'base.html' %}

{% block content %}

<!-- <table>
    {% for location in filtered_locations %}
    <tr>
      <td class="name-cell"><a href="/places/{{zone.id}}"> {{location.name}} </a></td>
      <td rowspan="2">{{location.description}}</td>
      <td rowspan="2" id="zone-cell">{{location.zone.name}}</td>
      <td rowspan="2" id="tick-cell">
        {% if location.visited == True %}
          <p style="color: green">  √  </p>
        {% else %}
          <p></p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td class="image-cell">
        {% if location.picture | length != 0 %}
        <img src="{{location.picture}}" alt="picture of {{location.name}}">
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</table> -->

{% endblock %}