{% extends 'base.html' %}

{% block content %}
<h1>Your Bucket List</h1>

<div class="add-button">
  <a href="/places/new">NEW</a>
</div>

<form action="/filtered" method="POST">
  <div>
    <h4>Filter by:</h4>
    <label for="zone">Zone</label>
    <select name="zone_id">
      {% for zone in all_zones %}
        <option value="{{zone.id}}">{{zone.name}}</option>
      {% endfor %}
    </select>
    <!-- <label for="visited">Ticked Off</label>
    <select name="visited">
      <option value="False">Not yet</option>
      <option value="True">Yes</option>
    </select> -->
    <button type="submit">Filter</button>
  </div>
</form>

<hr>

<table>
  {% for location in all_locations %}
  <tr>
    <td class="name-cell"><a href="/places/{{location.id}}"> {{location.name}} </a></td>
    <td rowspan="2">{{location.description}}</td>
    <td rowspan="2" class="zone-cell">{{location.zone.name}}</td>
    <td rowspan="2" class="tick-cell">
      {% if location.visited == True %}
        <p style="color: green">  √  </p>
      {% else %}
        <p></p>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td class="image-cell">
      {% if location.picture | length != 0 %}
      <img src="{{location.picture}}" alt="picture of {{location.name}}">
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}