{% extends "base.html" %}
{% block content %}

  <div>
    <p>{{location.name}}</p>
    <hr>
    <p>{{location.description}}</p>
    <p>{{location.zone.name}}</p>
    {% if location.visited == True %}
      <p style="color: green">You've been! √</p>
    {% else %}
    {% endif %}
    </p>
    {% if location.picture | length != 0 %}
      <img src="{{location.picture}}" alt="Picture of {{location.name}}">
    {% endif %}
    <p><a href="/places/{{location.id}}/edit">Edit</a></p>
    <form class="delete-form" action="/places/{{location.id}}/delete" method="POST">
      <button>Delete</button>
    </form>
  </div>

{% endblock %}
