{% extends "base.html" %}
{% block content %}

  <div id="show-image">
    <p>{{location.name}}</p>
    <hr>
    <p>{{location.description}}</p>
    <p>{{location.zone.name}}</p>
    {% if location.visited == True %}
      <p style="color: green">You've been! √</p>
    {% else %}
    {% endif %}
    </p>

    <!-- to style and align -->
    <div>
      <p><a href="/places/{{location.id}}/edit"><i class="fas fa-pencil-alt"></i></a></p>
      <form class="delete-form" action="/places/{{location.id}}/delete" method="POST">
        <button><i class="far fa-trash-alt"></i></button>
      </form>
    </div>
    
    {% if location.picture | length != 0 %}
      <img src="{{location.picture}}" alt="Picture of {{location.name}}">
    {% endif %}
  </div>

{% endblock %}
