{% extends 'base.html' %}

{% block content %}
<h1>The Five Glasgow Areas</h1>

<h4> Glasgow is divided into five distinct regions: the city centre, North Glasgow, the Southside, the East End and the West End.</h4>

<div class="grid-container-reverse">
  <aside id="aside-1">
    <table>
      {% for zone in all_zones %}
      <tr>
        <td><a href="/zones/{{zone.id}}"> {{zone.name}} </a></td>
      </tr>
      {% endfor %}
    </table>
  </aside>
  
  <aside id="aside-2">
    <br>
    <img id="area-map" src="{{url_for('static', filename='area-map.png')}}" alt="Map of Glasgow zones">
  </aside>
</div>

{% endblock %}